/*ナビゲーション*/
  .overlayMenuBtn  {
    position: absolute;
    top: 30px;
    right: 2%;
    height: 50px;
    cursor: pointer;
    z-index: 100001;
  }
  .overlayMenuBtn span {
    position: relative;
    display: block;
    width: 40px;
    border: 1px solid #ffffff;
    transition: .2s;
  }
  .overlayMenuBtn span:nth-child(1) { top: 0; }
  .overlayMenuBtn span:nth-child(2) { top: 10px; }
  .overlayMenuBtn span:nth-child(3) { top: 20px; }

  .overlayMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 45vh;
    z-index: 100000;
  }
  .overlayMenuInner {
    padding: 10px 4% 40px 4%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 300px;
    margin:0 0 0 auto;
  }

  .overlayMenuHeader {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 4% 40px 4%;
    text-align:center;
    letter-spacing: 0.5em;
  }
  .overlayMenuItem ul {
    margin: 20px 0 40px 0;
    padding: 0;
    list-style-type: none;
    letter-spacing: 0.5em;
  }
  .overlayMenuItem ul li {
    border-top: 1px solid #ccc;
  }
  .overlayMenuItem ul li:last-child {
    border-bottom: 1px solid #ccc;
  }
  .overlayMenuItem ul li a {
    display: block;
    width: 96%;
    padding: 20px 0 20px 4%;
    color: #ffffff;
    text-decoration: none;
    transition: .2s;
    text-align:center;
  }
  .overlayMenuItem ul li a:hover { background-color: #009170; }
  .overlayMenuItem ul li a:hover { color: #fff; }


body{
  background-color: #f5f5f5;
}
/*ヘッダー*/
header {
	position: relative;
	height: 80vh;
	min-height: 300px;
	background-size: cover;
	font-family: Helvetica;
	background-image: url("../images/prof.jpg");
	letter-spacing: 0.4em;
  color:#ffffff;
}

.title {
 	padding-top: 30vh;
  padding-left: 10vh;
}

.profile-text{
  padding-top:20vh;
  text-align:center;
}

/*フッター*/
footer {
	margin-top: 20vh;
	text-align: center;
	padding: 10px;
	color: #ffffff;
	background-color: #191970;
}
